body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

#fileInput {
    margin-bottom: 20px;
}

#output {
    white-space: pre-wrap;
    background: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
    0%, 100% { transform: rotate(0); }
    20%, 60% { transform: rotate(-25deg); }
    40%, 80% { transform: rotate(10deg); }
}

@media (max-width:500px) {
    .github-corner:hover .octo-arm { animation: none; }
    .github-corner .octo-arm { animation: octocat-wave 560ms ease-in-out; }
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.website {
    margin: 20px;
    text-align: center;
    flex-basis: 30%;
}

.website img {
    width: 100px;
    height: 100px;
}

.zoom-effect {
    transition: transform 0.3s ease;
    display: inline-block;
}

.website:hover {
    transform: scale(1.1);
}

/* Light mode styles */
@media (prefers-color-scheme: light) {
    body {
        background-color: #fff;
        color: #000;
    }

    header, footer {
        background-color: #f0f0f0;
        color: #333;
    }

    nav ul li a {
        color: #333;
    }

    form button {
        background-color: #007bff;
        color: #fff;
        border: none;
    }
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
        color: #e0e0e0;
    }

    header, footer {
        background-color: #333;
        color: #fff;
    }

    nav ul li a {
        color: #fff;
    }

    form button {
        background-color: #007bff;
        color: #fff;
        border: none;
    }
}
